USE [master]
GO
/****** Object:  Database [RTMGMT]    Script Date: 2018-06-02 1:36:46 PM ******/
CREATE DATABASE [RTMGMT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RTMGMT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.VS2018\MSSQL\DATA\RTMGMT.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RTMGMT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.VS2018\MSSQL\DATA\RTMGMT_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RTMGMT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RTMGMT]
GO
USE [RTMGMT]
GO
/****** Object:  Table [dbo].[BottomUpProcessedRecords]    Script Date: 2018-06-02 1:36:46 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BottomUpProcessedRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RT_STRING] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrokenRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrokenRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[REPORTING_ID] [nvarchar](20) NULL,
	[TITLE] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[REPORTS_TO_ID] [nvarchar](20) NULL,
	[RT_STRING] [nvarchar](255) NULL,
	[EMPLOYEE_ID] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuplicateRTRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuplicateRTRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[REPORTING_ID] [nvarchar](20) NULL,
	[TITLE] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[REPORTS_TO_ID] [nvarchar](20) NULL,
	[EMPLOYEE_ID] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FixRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[REPORTING_ID] [nvarchar](20) NULL,
	[TITLE] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[REPORTS_TO_ID] [nvarchar](20) NULL,
	[RT_STRING] [nvarchar](255) NULL,
	[EMPLOYEE_ID] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportsToRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportsToRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[REPORTING_ID] [nvarchar](20) NULL,
	[TITLE] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[REPORTS_TO_ID] [nvarchar](20) NULL,
	[EMPLOYEE_ID] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportsToRecordStagings]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportsToRecordStagings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[REPORTING_ID] [nvarchar](20) NULL,
	[TITLE] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[REPORTS_TO_ID] [nvarchar](20) NULL,
	[EMPLOYEE_ID] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequiredCorrectionsSet]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequiredCorrectionsSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[REPORTING_ID] [nvarchar](20) NOT NULL,
	[REPORTS_TO_ID] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopDownProcessedRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopDownProcessedRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[REPORTING_ID] [nvarchar](20) NULL,
	[TITLE] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[REPORT_LEVEL] [int] NULL,
	[REPORTS_TO_ID] [nvarchar](20) NULL,
	[RT_STRING] [nvarchar](255) NULL,
	[EMPLOYEE_ID] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BottomUpProcessedRecords] ADD  DEFAULT ('') FOR [RT_STRING]
GO
ALTER TABLE [dbo].[RequiredCorrectionsSet] ADD  DEFAULT ('') FOR [REPORTING_ID]
GO
ALTER TABLE [dbo].[RequiredCorrectionsSet] ADD  DEFAULT ('') FOR [REPORTS_TO_ID]
GO
/****** Object:  StoredProcedure [dbo].[Bottom_Up_Recurse]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Bottom_Up_Recurse]

AS
BEGIN
SET NOCOUNT ON;
TRUNCATE TABLE BottomUpProcessedRecords;
declare @counter int=1
while @counter <= (SELECT COUNT(Id) FROM BROKENRECORDs)
BEGIN
WITH Hierarchy AS (SELECT POS.REPORTING_ID, POS.TITLE,POS.REPORTS_TO_ID,
CAST(POS.REPORTING_ID + ' + ' + POS.REPORTS_TO_ID AS NVARCHAR(255) ) AS RT_STRING 
FROM BROKENRECORDs POS
WHERE (POS.Id=@counter)
UNION ALL
SELECT A.REPORTING_ID,A.TITLE,A.REPORTS_TO_ID,CAST(POS.RT_STRING + ' + ' + A.REPORTS_TO_ID AS NVARCHAR(255)) AS RT_STRING
FROM BROKENRECORDs AS A INNER JOIN
Hierarchy  AS POS ON POS.REPORTS_TO_ID=A.REPORTING_ID
AND POS.RT_STRING NOT LIKE '%' + A.REPORTS_TO_ID + '%')
INSERT INTO BottomUpProcessedRecords(RT_STRING) SELECT MAX(RT_STRING) AS RT_STRING FROM Hierarchy 
WHERE (RT_STRING LIKE '%' 
+ REPORTING_ID + '%')
SET @counter=@counter+1
END
UPDATE BROKENRECORDs SET RT_STRING= BottomUpProcessedRecords.RT_STRING 
FROM BROKENRECORDs INNER JOIN BottomUpProcessedRecords ON BROKENRECORDs.REPORTING_ID=LEFT(BottomUpProcessedRecords.RT_STRING,LEN(REPORTING_ID))
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAllRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAllRecords]

	AS
	TRUNCATE TABLE BrokenRecords
	TRUNCATE TABLE FixRecords
	TRUNCATE TABLE ReportsToRecords
	TRUNCATE TABLE RequiredCorrectionsSet
	TRUNCATE TABLE BottomUpProcessedRecords
	TRUNCATE TABLE TopDownProcessedRecords
	TRUNCATE TABLE DuplicateRTRecords
GO
/****** Object:  StoredProcedure [dbo].[DeleteCorrections]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[DeleteCorrections]
	AS
	TRUNCATE TABLE RequiredCorrectionsSet
GO
/****** Object:  StoredProcedure [dbo].[DeleteTheDuplicateRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTheDuplicateRecords]

AS
BEGIN
SET NOCOUNT ON;
DELETE FROM [dbo].[ReportsToRecords] WHERE
Id IN 

(SELECT A.Id FROM [dbo].[ReportsToRecords] A , [dbo].[ReportsToRecords] B
WHERE (A.REPORTING_ID=B.REPORTING_ID)
AND (A.Id > B.Id))
END
GO
/****** Object:  StoredProcedure [dbo].[GenerateRecordFixList]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GenerateRecordFixList]
AS
	TRUNCATE TABLE FixRecords
	INSERT INTO FIXRECORDs
(REPORTING_ID,TITLE,NAME,REPORTS_TO_ID,RT_STRING,EMPLOYEE_ID)
SELECT REPORTING_ID,TITLE,NAME,REPORTS_TO_ID,RT_STRING,EMPLOYEE_ID FROM BROKENRECORDs WHERE REPORTING_ID IN
(SELECT DISTINCT SUBSTRING((RIGHT(RT_STRING, (LEN(REPORTING_ID)*2+3))),1,LEN(REPORTING_ID)) FROM BROKENRECORDs)
--TRUNCATE Table RequiredCorrectionsSet
INSERT INTO RequiredCorrectionsSet(REPORTING_ID,REPORTS_TO_ID) SELECT REPORTING_ID,REPORTS_TO_ID FROM FIXRECORDs
GO
/****** Object:  StoredProcedure [dbo].[GenerateReportingStructure]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GenerateReportingStructure]

AS
BEGIN
SET NOCOUNT ON;
UPDATE ReportsToRecords SET REPORTS_TO_ID='' WHERE REPORTS_TO_ID IS NULL
 TRUNCATE TABLE [dbo].TopDownProcessedRecords;
 with cteEmployeeLevel
as
(
    select POS.REPORTING_ID,
          POS.TITLE,
		  POS.NAME,
           0 AS POS_LEVEL ,
           POS.REPORTS_TO_ID,
           CAST(POS.REPORTS_TO_ID AS NVARCHAR(max))AS RT_STRING,
		   POS.EMPLOYEE_ID
    from ReportsToRecords POS
        left join ReportsToRecords POSRT on POSRT.REPORTING_ID= POS.REPORTS_TO_ID 
    where POS.REPORTS_TO_ID ='TOP'
    union all
    select POS.REPORTING_ID,
           POS.TITLE,
		   POS.NAME,
           POS_LEVEL + 1,
           POS.REPORTS_TO_ID,
           RT_STRING + ' + ' + POS.REPORTS_TO_ID /*+ ' + ' + POS.POSITION_NBR*/,
		   POS.EMPLOYEE_ID
           
    from ReportsToRecords as POS
        inner join ReportsToRecords POSRT on POSRT.REPORTING_ID= POS.REPORTS_TO_ID
        
        inner join cteEmployeeLevel on POS.REPORTS_TO_ID = cteEmployeeLevel.REPORTING_ID
		WHERE RT_STRING NOT LIKE '%' + POS.REPORTS_TO_ID + '%'
)
INSERT INTO TopDownProcessedRecords(REPORTING_ID,TITLE,NAME,REPORT_LEVEL,REPORTS_TO_ID, RT_STRING,EMPLOYEE_ID)
SELECT   DISTINCT REPORTING_ID , TITLE,NAME, POS_LEVEL , REPORTS_TO_ID , RT_STRING,EMPLOYEE_ID  
from cteEmployeeLevel AS cte
order by  RT_STRING asc;
 

END
GO
/****** Object:  StoredProcedure [dbo].[GetBrokenRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBrokenRecords]
	AS
BEGIN
SET NOCOUNT ON;
TRUNCATE TABLE BROKENRECORDs;
INSERT INTO BROKENRECORDs (REPORTING_ID,TITLE,NAME,REPORTS_TO_ID,EMPLOYEE_ID) SELECT REPORTING_ID,TITLE,NAME,REPORTS_TO_ID,EMPLOYEE_ID FROM  REPORTSToREcords A WHERE
 REPORTING_ID NOT IN ( SELECT REPORTING_ID FROM TopDownProcessedRecords)
END
GO
/****** Object:  StoredProcedure [dbo].[GetTheDuplicateRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTheDuplicateRecords]
AS
BEGIN
SET NOCOUNT ON;
TRUNCATE TABLE DuplicateRTRecords;
INSERT INTO  DuplicateRTRecords (REPORTING_ID,TITLE,NAME,REPORTS_TO_ID,EMPLOYEE_ID) 
SELECT A.REPORTING_ID,A.TITLE,A.NAME,A.REPORTS_TO_ID,A.EMPLOYEE_ID FROM [dbo].[ReportsToRecords] A , [dbo].[ReportsToRecords] B
WHERE (A.REPORTING_ID=B.REPORTING_ID)
AND (A.Id > B.Id)
END
GO
/****** Object:  StoredProcedure [dbo].[ImportReportsToRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ImportReportsToRecords]
AS
CREATE Table Staging (
col1 nvarchar(20),
col2 nvarchar(50),
col3 nvarchar(50),
col4 nvarchar(20),
col5 nvarchar(20));

Truncate Table Staging;
Truncate Table ReportsToRecords;
--BULK INSERT Staging
--FROM 'c:\users\Lyndon.A3HR\Documents\SampleReportsTo.txt'
--WITH (
--FIELDTERMINATOR='\t',
--ROWTERMINATOR='\n');
EXEC xp_cmdshell 'bcp "[E98FA3E9A6E39B470CBBA09564320472_L STUDIO 2013\PROJECTS\REPORTSTOMANAGEMENT\REPORTSTOMANAGEMENT\BIN\DATA\APPLICATIONDATABASE.MDF].dbo.Staging" in "c:\users\Lyndon.A3HR\Documents\SampleReportsTo.txt" -T -c -S(localdb)\v11.0';
--EXEC xp_cmdshell 'bcp ReportsACKUpl7ns.dbo.Staging in "c:\users\Lyndon.A3HR\Documents\SampleReportsTo.txt" -U Lyndon@ayfgfe7rdc -S tcp:ayfgfe7rdc.database.windows.net,1433 -P B@rkley1 -b 200';
INSERT INTO ReportsToRecords(REPORTING_ID,TITLE,NAME,REPORTS_TO_ID,EMPLOYEE_ID)
SELECT col1,col2,col3,col4,col5 FROM Staging;
DROP Table Staging;
GO
/****** Object:  StoredProcedure [dbo].[ProcessReportsToRecords]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcessReportsToRecords]
AS
	EXEC GetTheDuplicateRecords
	EXEC DeleteTheDuplicateRecords
    EXEC GenerateReportingStructure
	EXEC GetBrokenRecords
	EXEC BOTTOM_UP_RECURSE
	EXEC GenerateRecordFixList
GO
/****** Object:  StoredProcedure [dbo].[TruncateProcessedRecordsExceptCorrections]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TruncateProcessedRecordsExceptCorrections]

	AS
	TRUNCATE TABLE BrokenRecords
	TRUNCATE TABLE FixRecords
	TRUNCATE TABLE BottomUpProcessedRecords
	TRUNCATE TABLE TopDownProcessedRecords
	TRUNCATE TABLE DuplicateRTRecords
GO
/****** Object:  StoredProcedure [dbo].[UpdateReportsToWithCorrections]    Script Date: 2018-06-02 1:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateReportsToWithCorrections]
AS
UPDATE ReportsToRecords Set  ReportsToRecords.REPORTS_TO_ID=RequiredCorrectionsSet.REPORTS_TO_ID FROM ReportsToRecords INNER JOIN
RequiredCorrectionsSet ON ReportsToRecords.REPORTING_ID=RequiredCorrectionsSet.REPORTING_ID
GO
USE [master]
GO
