@model IEnumerable<RTMGMTCore2.Models.DuplicateRtrecords>

@{
    ViewBag.Title = "Index";
}

<h2>Duplicate Reports To Records</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function () {

        if ($.fn.DataTable.isDataTable('#tbldr')) {
            $('#tbldr').dataTable().fnDestroy();
            $('#tbldr').dataTable().empty();

        }

        var complete = $('#tbldr').DataTable(
            {
                "serverSide": true,
                "destroy": true,
                "processing": true,
                "stateSave": true,
                "ajax":
                    {
                        url: "/DuplicateRtrecords/DRList",
                        method: "POST"
                    },
                "columns": [
                    { "data": "id" },
                    { "data": "reportingId" },
                    { "data": "title" },
                    { "data": "name" },
                    { "data": "reportsToId" },
                    { "data": "employeeId" },

                    {
                        "title": "",
                        "data": "id",
                        "searchable": false,
                        "sortable": false,



                        "render": function (data, type, full, meta) {
                            return '<a href="@Url.Action("Edit", "DuplicateRtrecords")?id=' + data + '" class="editDuplicateRtrecords">Edit</a> | <a href="@Url.Action("Details", "DuplicateRtrecords")?id=' + data + '" class="detailsDuplicateRtrecords">Details</a> | <a href="@Url.Action("Delete", "DuplicateRtrecords")?id=' + data + '" class="deleteDuplicateRtrecords">Delete</a>';
                                }




                           @*return '<a class="btn btn-info" href="/DuplicateRtrecords/Edit/' + full.id + '">Edit</a>';*@

                    }




                ]
            }

        );

        /// Following code is for filter input to apply filter only on Enter
        var itm = $("#tbldr_filter input")

        itm.unbind();
        itm.keyup(function (e) {
            //enter or tab
            if (e.keyCode == 13) {
                complete.search(this.value).draw();
            }
        });


    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title"> Duplicate Records</h1>
            </div>
            <div class="panel-body">
                <table class="table" id="tbldr">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                ReportingId
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                ReportsToId
                            </th>
                            <th>
                                EmployeeId
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>