@model RTMGMTCore2.Models.TopDownProcessedRecords

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TopDownProcessedRecords</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReportingId" class="control-label"></label>
                <input asp-for="ReportingId" class="form-control" />
                <span asp-validation-for="ReportingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportLevel" class="control-label"></label>
                <input asp-for="ReportLevel" class="form-control" />
                <span asp-validation-for="ReportLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportsToId" class="control-label"></label>
                <input asp-for="ReportsToId" class="form-control" />
                <span asp-validation-for="ReportsToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RtString" class="control-label"></label>
                <input asp-for="RtString" class="form-control" />
                <span asp-validation-for="RtString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
